/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */
	color: #CC00AA;
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
body {
     border: 1px dotted gray;
     padding: 20px;
		 background-color: #00cccc;
}

.jumbotron-container {
	position: relative;
     margin-top: 50px;
     margin-bottom: 20px;
     padding: 20px;
}

h1 {
	font-family: sans-serif;
	color: black;
}

#about {
	font-family: sans-serif;
	margin-top: 20px;
	margin-bottom: 20px;
}

.project {
		margin-left: 20px;
		background-color: #262626;
		border-style: double;
}

.project-text {
	color: white;
	font-family: sans-serif;
}

#contact {
	margin-top: 20px;
	margin-bottom: 20px;
}

#projects {
	margin-top: 20px;
	margin-bottom: 20px;
}
